# Python
__pycache__/
*.py[cod]
*.log

# Virtual envs
.venv/
.venv-1/
env/
venv/

# Secrets / config
.env
.env.*
*.env

# SQLite / local DBs
db.sqlite3
*.sqlite3

# Django build/output
/staticfiles/
/media/          # uploaded images – DO NOT commit

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
